.contactContainer {
  display: flex;
  justify-content: space-between;
  padding: 200px;
  margin-top: 80px;
}

.contactInfo,
.contactForm {
  flex: 1;
  max-width: 45%;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.contactInfo h1 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.contactInfo h3 {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.contactInfo p {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 10px;
}

.logoContainer {
  display: flex;
  justify-content: left;
  width: 100%;
  margin: 20px 0;
}

.logo {
  max-width: 100px;
  height: auto;
}

.contactForm h2 {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.contactForm p {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  display: block;
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 5px;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 25px;
  font-size: 1rem;
}

textarea {
  resize: vertical;
  height: 100px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.submitButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
}

.submitButton:hover {
  opacity: 0.8;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 5px;
}
