.contactContainer {
  width: 1000px;
  display: flex;
  margin: 0;
  padding: 0;
  margin: 15px 0;
}
.contactInfo,
.contactForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0;
  gap: 30px;
  padding: 30px;
}
.contactInfo {
  justify-content: space-around;
  gap: 0px;
}
.contactInfo h1 {
  font-size: 2rem;
  color: var(--primary-color);
  margin: 0;
}
.contactInfo h3 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--primary-color);
}
.owners {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contactInfo p {
  font-size: 1rem;
  color: var(--text-color);
  margin: 0;
}
.logoContainer {
  display: flex;
  justify-content: left;
  width: 100%;
  margin: 0;
}
.logo {
  max-width: 100px;
  height: auto;
}
.contactForm {
  border: var(--input-border);
  box-shadow: var(--box-shadow);
  border-radius: var(--button-border-radius);
}
.contactForm h2 {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin: 0;
}
.contactForm p {
  font-size: 1rem;
  color: var(--text-color);
  margin: 0;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.formGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formGroup label {
  font-size: 20px;
  font-weight: var(--button-font-weight);
}
.formGroup input,
.formGroup textarea {
  padding: 12px;
  border: 2px solid var(--form-border-color);
  border-radius: 25px;
  font-size: 16px;
  font-family: inherit;
  color: var(--text-color);
}
.formGroup input:focus-visible,
.formGroup textarea:focus-visible {
  outline: var(--input-border-focus);
  border-color: transparent;
}
textarea {
  resize: vertical;
  height: 100px;
}
.submitButton {
  padding: 10px 15px;
  background: var(--button-background);
  color: var(--button-text-color);
  border: none;
  border-radius: 25px;
  font-family: var(--font-primary);
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}
.submitButton:hover {
  opacity: 0.8;
}
.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 5px;
}
@media (max-width: 1024px) {
  .contactContainer {
    width: 800px;
  }
}
@media (max-width: 830px) {
  .contactContainer {
    width: 700px;
  }
  .contactInfo {
    gap: 15px;
  }
}
@media (max-width: 720px) {
  .contactContainer {
    width: 500px;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 30px;
  }
  .contactInfo,
  .contactForm {
    display: flex;
    flex-direction: column;
    width: calc(100% - 22px);
    margin: 0;
    gap: 30px;
    padding: 10px;
  }
  .owners {
    gap: 10px;
  }
  .contactInfo {
    gap: 10px;
  }
  .contactInfo h1,
  .contactInfo h3 {
    display: none;
  }
  .logo {
    max-width: 60px;
    height: auto;
  }
}
@media (max-width: 522px) {
  .contactContainer {
    width: 350px;
  }
  .contactForm,
  .contactInfo {
    width: 100%;
    padding: 10px;
  }
  .contactInfo h1,
  .contactInfo h3 {
    font-size: 1.2rem;
  }
  .contactForm h2 {
    font-size: 1.2rem;
  }
  .formGroup label {
    font-size: 16px;
  }
  .formGroup input,
  .formGroup textarea {
    font-size: 14px;
  }
  .submitButton {
    font-size: 16px;
    padding: 8px 10px;
  }
}

@media (max-width: 375px) {
  .contactContainer {
    width: 100%;
    padding: 10px;
  }
  .contactForm,
  .contactInfo {
    width: 100%;
    padding: 10px;
  }
  .contactInfo h1,
  .contactInfo h3 {
    font-size: 1rem;
  }
  .contactForm h2 {
    font-size: 1rem;
  }
  .formGroup label {
    font-size: 14px;
  }
  .formGroup input,
  .formGroup textarea {
    font-size: 12px;
  }
  .submitButton {
    font-size: 14px;
    padding: 6px 8px;
  }
}
