.addListingContainer {
  width: 460px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  padding: 30px;
  margin: 15px 0;
  border: var(--input-border);
  box-shadow: var(--box-shadow);
  border-radius: var(--button-border-radius);
}
.header {
  margin: 0;
  font-size: 32px;
  display: flex;
  justify-content: center;
  font-family: var(--font-primary);
}
.toggleButtons {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 5px;
  background-color: var(--button-background-secondary);
  border-radius: var(--button-border-radius);
  font-weight: var(--button-font-weight);
}
.toggleButton {
  padding: 10px 20px;
  flex: 1;
  transition: background-color 0.3s;
  border-radius: var(--button-border-radius);
  background-color: inherit;
  font-family: var(--font-primary);
  font-size: 18px;
  color: var(--text-color);
  border: none;
  cursor: pointer;
}
.toggleButton.active {
  background-color: var(--button-background);
  color: var(--button-text-color);
}
.addListingForm {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.addListingLabel {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--text-color);
}
.addListingInput,
.addListingTextarea,
.addListingFileInput,
.addListingSelect {
  padding: 12px;
  border: 2px solid var(--form-border-color);
  border-radius: 25px;
  font-size: 16px;
}
.addListingInput:focus,
.addListingTextarea:focus,
.addListingFileInput:focus,
.addListingSelect:focus {
  border: var(--input-border-focus);
  outline: none;
}
.addListingInput:hover,
.addListingTextarea:hover {
  border-color: #b3b3b3;
}
.addListingTextarea {
  height: 100px;
  resize: none;
  font-family: inherit;
}
.addFotoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: var(--input-border);
  box-shadow: var(--box-shadow);
  border-radius: var(--button-border-radius);
}
.predefinedImagesContainer {
  display: flex;
  justify-content: space-between;
}
.predefinedImage {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 10px;
  cursor: pointer;
}
.imageOption {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}
.imageOption.selected img {
  border: 2px solid #004085;
  border-radius: 5px;
  margin: 8px;
}
.customFileUpload {
  align-self: flex-start;
  padding: 5px 10px;
  font-size: 14px;
  font-family: var(--secondary-font);
  background-color: var(--button-background);
  border-radius: var(--button-border-radius);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.customFileUpload:hover {
  background-color: var(--accent-color);
}
.customFileUpload input[type="file"] {
  display: none;
}
.addListingButton {
  padding: var(--button-padding);
  background-color: var(--button-background);
  border-radius: var(--button-border-radius);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: auto;
  display: block;
  margin-top: 20px;
}
.addListingButton:hover {
  background-color: var(--accent-color);
}
.previewContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}
.previewImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.error {
  color: red;
  margin-top: 10px;
}
.message {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f4c3;
  color: #388e3c;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 530px) {
  .addListingContainer {
    width: 380px;
  }
}
@media (max-width: 450px) {
  .addListingContainer {
    width: 300px;
  }
  .predefinedImage {
    width: 35px;
    height: 35px;
  }
  .previewImage {
    width: 60px;
    height: 60px;
  }
}
