header {
  padding-bottom: 100px;
}
.addListingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}

.header {
  color: var(--text-color);
  font-size: 24px;
  margin: 40px 0 40px 20px;
  font-weight: bold;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e1dd;
}

.toggleButtons {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.toggleButton {
  padding: 10px 20px;
  border: none;
  background-color: #e0e1dd;
  color: #333;
  font-weight: bold;
  transition: background-color 0.3s;
  flex: 1;
  text-align: center;
  cursor: pointer;
  border-radius: var(--button-border-radius);
  margin: 0 5px;
}

.toggleButton.active {
  background-color: var(--button-background);
  color: white;
}

.addListingForm {
  width: 100%;
  max-width: 500px;
}

.addListingLabel {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  color: var(--text-color);
}

.addListingInput,
.addListingTextarea,
.addListingFileInput,
.addListingSelect {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--form-border-color);
  border-radius: 25px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.addListingSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("/src/assets/custom-arrow.png") no-repeat right center;
}

.addListingTextarea {
  height: 100px;
  resize: none;
}

.predefinedImage {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.imageOption {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.imageOption.selected img {
  border: 2px solid #004085;
  border-radius: 5px;
}

.customFileUpload {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  font-family: var(--secondary-font);
  background-color: var(--button-background);
  border-radius: var(--button-border-radius);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: auto;
  margin-bottom: 20px;
}

.customFileUpload:hover {
  background-color: #004085;
}

.customFileUpload input[type="file"] {
  display: none;
}

.addListingButton {
  padding: var(--button-padding);
  background-color: var(--button-background);
  border-radius: var(--button-border-radius);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: auto;
  display: block;
  margin-top: 20px;
}

.addListingButton:hover {
  background-color: #004085;
}

.error {
  color: red;
  margin-top: 10px;
}

.message {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f4c3;
  color: #388e3c;
  font-weight: bold;
  text-align: center;
}

/* Style responsywne */
@media (max-width: 768px) {
  .addListingContainer {
    padding: 15px;
  }

  .header {
    font-size: 24px;
  }

  .toggleButton {
    margin: 0 5px;
    padding: 8px 16px;
  }

  .addListingButton {
    padding: 8px 16px;
  }
}
