body {
  margin: 0;
}

.site {
  font-family: var(--font-secondary);
  color: var(--light-text-color);
  margin: 0 auto;
  max-width: 1600px;
}

/* Hero section */
.hero {
  text-align: center;
  padding: 10% 25% 0 25%;
  margin-bottom: 100px;
  background-image: url("./assets/hero-background.png");
  background-size: cover;
  background-position: center bottom; /* Center the background image */
  background-repeat: no-repeat;
  height: 600px;
}

h1 {
  font-size: 5rem;
  font-family: var(--font-primary);
  margin: 20px 0;
}

.hero p {
  font-size: 1.3rem;
}

.heroButtonContainer {
  position: relative;
  height: 100%;
}

.heroButtonWrapper {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -25px;
  text-align: center;
  display: inline-block;
  background: radial-gradient(
    circle at 55% 55%,
    #023853 65%,
    #739cb5 70%,
    #023853 75%
  );
  padding: 3px;
  padding: 10px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  box-shadow: 1px 16px 82px -2px rgba(2, 56, 83, 1);
  transition: box-shadow 4s;
}

.heroButtonWrapper div {
  margin: 5%;
  padding: 5%;
  background: linear-gradient(-30deg, #5c7b9e 5%, #739cb5 30%, #5c7b9e 100%);
  height: 80%;
  width: 80%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.heroButtonWrapper div a {
  margin: auto 0;
}

.heroButton {
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  padding: 20px 15px;
  cursor: pointer;
  transition: var(--button-hover-effect);
  border-radius: 35px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.heroButton:hover {
  color: var(--light-text-color);
  background: var(--accent-color);
}

body:has(.heroButton:hover) .heroButtonWrapper {
  background: radial-gradient(
    circle at 45% 45%,
    #023853 65%,
    #739cb5 70%,
    #023853 75%
  );
}
body:has(.heroButton:hover) .heroButtonWrapper div {
  background: linear-gradient(-30deg, #5c7b9e 15%, #739cb5 85%, #5c7b9e 100%);
}

/* Section 2 */

.buttonsSection {
  margin: var(--default-margin);
  padding: var(--default-padding);
}

.buttonscontainer {
  display: flex;
  gap: 1rem;
  margin: 0;
  background-color: #e5e5df;
  border-radius: 25px;
}

.button {
  width: 33%;
  background: transparent;
  color: var(--primary-color);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  border: none;
  padding: var(--button-padding);
  cursor: pointer;
  transition: var(--button-hover-effect);
  border-radius: var(--button-border-radius);
  text-transform: uppercase;
}

.button:hover {
  background: var(--primary-color);
  color: var(--button-text-color);
}

/* Section 3 */

.articles {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: var(--default-margin);
  padding: var(--default-padding);
}

.article {
  position: relative; /* Added position relative for absolute positioning */
  background-image: url("https://images.unsplash.com/photo-1583339972074-a01b1a10b693?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  width: 32%;
  height: 450px;
  display: flex;
  align-items: end;
  border-radius: 25px;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
}

.article:hover {
  transform: scale(1.05);
}

.article__container {
  background-color: var(--primary-color);
  padding: 30px;
  border-radius: 25px;
  color: var(--button-text-color);
  width: 100%;
  overflow: hidden;
}
.article__container p {
  display: none;
  opacity: 0;
}

.article:hover .article__container p {
  display: block;
  opacity: 1;
}

h2 {
  font-family: var(--font-primary);
}

.articleButton {
  margin: 0;
  background-color: var(--background-color);
  color: var(--primary-color);
  border: none;
  padding: var(--button-padding);
  cursor: pointer;
  transition: var(--button-hover-effect);
  border-radius: var(--button-border-radius);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
}

.articleButton:hover {
  background: var(--accent-color);
  color: var(--button-text-color);
}

@media (max-width: 1024px) {
  h1 {
    font-size: 4rem;
  }

  .article {
    width: 48%;
  }
}

@media (max-width: 720px) {
  h1 {
    font-size: 2rem;
  }
  .hero {
    padding: 10% 12% 0 12%;
    height: 400px;
  }

  .hero p {
    font-size: 1rem;
  }
  .heroButtonWrapper {
    width: 200px;
    height: 200px;
  }

  .heroButton {
    font-size: 1rem;
  }
  .buttonscontainer {
    flex-direction: column;
  }
  .button {
    width: 100%;
  }

  .article {
    width: 100%;
  }
}
