.messagesListContainer {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  color: white;
}

.messageListHeader {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
  font-family: var(--font-primary);
}

.messageItem {
  padding: 10px;
  margin: 20px auto;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  background: var(--accent-color);
  cursor: pointer;
}

.senderName {
  text-decoration: none;
  padding: 5px;
  margin: 5px 0;
  color: var( --light-text-color);
}

.messageItem p {
  padding: 5px;
  margin: 5px 0;
}

.messageItem strong {
  font-weight: bold;
}

.unreadMessage {
  background-color: #e6f7ff;
  color: var(--text-color);
}

.filterButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filterButtons button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: var(--button-background);
  color: var(--button-text-color);
  transition: background-color 0.3s;
}

.filterButtons button:hover {
  opacity: 0.8;
}

.activeFilterButton {
  background-color: var(--accent-color);
  color: white;
}

@media (max-width: 1024px) {
  .messagesListContainer {
    padding: 15px;
  }

  .messageListHeader {
    font-size: 22px;
  }

  .messageItem {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .messagesListContainer {
    padding: 10px;
  }

  .messageListHeader {
    font-size: 20px;
  }

  .messageItem {
    padding: 8px;
  }

  .filterButtons {
    flex-direction: column;
  }

  .filterButtons button {
    margin-bottom: 10px;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .messagesListContainer {
    padding: 5px;
  }

  .messageListHeader {
    font-size: 18px;
  }

  .messageItem {
    padding: 5px;
  }
}
