/* Existing styles */
.header {
  color: var(--text-color);
  font-weight: 800;
  width: 100%;
  font-size: 3rem;
  font-family: var(--font-primary);
  margin: 10px 0;
}

.gridSection {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-bottom: 40px;
}

.gridContainer {
  color: black;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.emptyMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 20px;
}

.emptyMessage p {
  margin-bottom: 20px;
  font-size: 1rem;
}

.emptyMessage button {
  padding: var(--button-padding);
  background-color: var(--button-background);
  border-radius: var(--button-border-radius);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: auto;
  display: block;
  margin-top: 20px;
  font-weight: bold;
}

.emptyMessage button:hover {
  background-color: var(--accent-color);
}

@media (max-width: 1024px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 720px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  .header {
    font-size: 2rem;
    text-align: center;
  }

  .gridContainer {
    grid-template-columns: 1fr;
  }

  .emptyMessage p {
    font-size: 0.875rem;
  }

  .emptyMessage button {
    font-size: 0.875rem;
    padding: 10px;
  }
}

@media (max-width: 375px) {
  .header {
    font-size: 1.5rem;
    text-align: center;
  }

  .gridContainer {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .emptyMessage p {
    font-size: 0.75rem;
  }

  .emptyMessage button {
    font-size: 0.75rem;
    padding: 8px;
  }
}