.articleLink {
  background-color: var(--primary-color);
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: var(--box-shadow);
  width: 100%;
  height: 450px;
  display: flex;
  align-items: flex-end;
  border-radius: 25px;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  text-decoration: none;
}

.articleLink:hover {
  transform: scale(1.05);
}

.articleContainer {
  background-color: var(--primary-color);
  padding: 30px;
  border-radius: 25px;
  color: var(--button-text-color);
  width: 100%;
  overflow: hidden;
}

.articleContainer p {
  opacity: 0;
  height: 0;
}

.articleLink:hover .articleContainer p {
  opacity: 1;
  height: auto;
}

h2 {
  font-family: var(--font-primary);
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .articleLink {
    height: 400px;
  }

  .articleContainer {
    padding: 25px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .articleLink {
    height: 350px;
  }

  .articleContainer {
    padding: 20px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .articleLink {
    height: 300px;
  }

  .articleContainer {
    padding: 15px;
  }

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }
}
