.search fieldset {
  border: none;
  padding: 0;
}
.search button,
.search input {
  border: none;
  cursor: pointer;
}
main .search,
main .listings {
  margin: 0;
  padding: 0;
  width: 1240px;
  padding: 20px;
  margin-bottom: 50px;
  color: var(--text-color);
  font-family: var(--font-primary);
  border: var(--input-border);
  box-shadow: var(--box-shadow);
  border-radius: var(--button-border-radius);
}
.search {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
.search h1,
.listings h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.search form h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.search form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.searchForm__typeWrap {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 5px;
  background-color: var(--button-background-secondary);
  border-radius: var(--button-border-radius);
  font-weight: var(--button-font-weight);
}
.search .searchForm__typeBtn {
  padding: 10px 20px;
  color: #333;
  transition: background-color 0.3s;
  flex: 1;
  border-radius: var(--button-border-radius);
  background-color: inherit;
  font-size: 18px;
}
.search .searchForm__typeBtnActive {
  background-color: var(--button-background);
  color: var(--button-text-color);
}

.searchForm__filter {
  display: flex;
  height: 28px;
}
.searchForm__filterBtn {
  padding: 3px 15px;
  background-color: var(--button-background-secondary);
  border-radius: var(--button-border-radius);
  font-size: 12px;
}
.searchForm__filterReset {
  background-color: var(--button-background);
  color: var(--button-text-color);
}

.searchForm__textFields {
  display: flex;
  justify-content: space-between;
}
.searchForm__textFields label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
}
.searchForm__textFields input {
  padding: 12px;
  border: 2px solid var(--form-border-color);
  border-radius: 25px;
  font-size: 16px;
}
.searchForm__textFields input:hover {
  border-color: #b3b3b3;
}
.searchForm__textFields input:focus-visible {
  outline: var(--input-border-focus);
  border-width: 0px;
}
.searchForm__categoryWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 170px;
}
.searchForm__categoryButtons {
  display: flex;
  justify-content: space-between;
}
.searchForm__categoryBtn {
  width: 80px;
  height: 80px;
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;
}
.searchForm__categoryBtnActive {
  background-color: var(--primary-color);
}
.searchForm__categoryBtn span {
  padding-top: 100px;
  width: 120px;
}
.searchForm__submitBtn {
  align-self: flex-end;
  padding: 10px 20px;
  background-color: var(--button-background);
  border-radius: var(--button-border-radius);
  color: var(--button-text-color);
}
.searchForm__submitBtn:active {
  background-color: var(--accent-color);
}
.searchForm__submitBtnDisabled {
  background-color: var(--accent-color);
  cursor: auto;
}
.listings {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.listings__group {
  display: grid;
  width: 1200px;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}
