.wrap {
  display: flex;
  max-width: 1400px;
  margin: 0;
  padding: 0;
  height: 100%;
}

.loginLeft {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loginRight {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  padding: 30px;
  border: var(--input-border);
  box-shadow: var(--box-shadow);
  border-radius: var(--button-border-radius);
}
.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginTitle {
  margin: 0;
  font-size: 32px;
  display: flex;
  justify-content: center;
  font-family: var(--font-primary);
}

.loginSubtitle {
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 18px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.loginForm label {
  font-size: 20px;
  font-weight: var(--button-font-weight);
}

.loginForm input {
  width: 430px;
  padding: 12px;
  border: 2px solid var(--form-border-color);
  border-radius: 25px;
  font-size: 16px;
  color: var(--text-color);
}

.loginForm input:hover {
  border-color: #b3b3b3;
}
.loginForm input:focus-visible {
  outline: var(--input-border-focus);
  border-color: transparent;
}
.forgotPassword {
  font-size: 16px;
  color: #5c7b9e;
  text-decoration: none;
}

.loginButton {
  padding: 10px 15px;
  background: var(--button-background);
  color: var(--button-text-color);
  border: none;
  border-radius: 25px;
  font-family: var(--font-primary);
  font-weight: 800;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loginButton:hover {
  opacity: 0.8;
}

.loginDivider {
  text-align: center;
  margin: 20px 0;
  font-size: 14px;
  color: #777;
}

.registerLink {
  font-size: 18px;
  color: #5c7b9e;
  text-decoration: none;
  font-weight: bold;
  align-self: center;
}

.loginFooter {
  margin-top: auto;
  text-align: center;
  font-size: 12px;
  color: #777;
}

.loginFooter a {
  color: #5c7b9e;
  text-decoration: none;
}

.loginFooter a:hover {
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .loginLeft {
    display: none;
  }
  .loginContainer {
    width: 100%;
    flex-direction: column;
    margin-top: 0;
    align-self: center;
  }
  .loginRight {
    width: 100%;
    padding: 30px 10px;
    align-self: center;
  }
}

@media (max-width: 768px) {
  .wrap {
    width: 100%;
    height: 100%;
  }
  .loginTitle,
  .loginSubtitle {
    font-size: 1.5rem;
  }

  .loginForm input {
    width: 350px;
    padding: 0.8rem;
  }

  .loginFooter {
    font-size: 0.75rem;
  }
}
@media (max-width: 450px) {
  .loginContainer {
    padding: 30px 5px;
  }
  .loginForm input {
    width: 300px;
  }
  .loginRight {
    width: 100%;
    padding: 30px 0;
    align-self: center;
  }
}
