.messageFormContainer {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: var(--input-border);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background-color: #f1f1f1;
}

.messageFormHeader {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--text-color);
  font-family: var(--font-primary);
}

.messageFormLabel {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.messageFormInput,
.messageFormTextarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: var(--input-border);
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--accent-color);
  font-family: var(--font-primary);
}

.messageFormInput:focus,
.messageFormTextarea:focus {
  border: var(--input-border-focus);
  outline: none;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.messageFormButton {
  padding: var(--button-padding);
  margin: 0 10px;
  background-color: var(--button-background);
  border-radius: var(--button-border-radius);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: auto;
}

.messageFormButton:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.messageFormButton:hover {
  background-color: var(--accent-color);
}

.messageSuccess {
  color: green;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.messageError {
  color: red;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .messageFormContainer {
    padding: 15px;
  }

  .messageFormHeader {
    font-size: 22px;
  }

  .messageFormTextarea {
    height: 90px;
    font-size: 14px;
  }

  .messageFormButton {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .messageFormContainer {
    padding: 10px;
  }

  .messageFormHeader {
    font-size: 20px;
  }

  .messageFormTextarea {
    height: 80px;
    font-size: 12px;
  }

  .messageFormButton {
    padding: 6px 12px;
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .messageFormContainer {
    padding: 10px;
  }

  .messageFormHeader {
    font-size: 18px;
  }

  .messageFormLabel {
    font-size: 14px;
  }

  .messageFormTextarea {
    height: 50px;
    font-size: 10px;
  }

  .messageFormButton {
    padding: 5px 10px;
    font-size: 10px;
  }
}

@media (max-width: 375px) {
  .messageFormContainer {
    padding: 8px;
  }

  .messageFormHeader {
    font-size: 16px;
    text-align: center;
  }

  .messageFormLabel {
    font-size: 12px;
  }

  .messageFormInput,
  .messageFormTextarea {
    font-size: 10px;
    padding: 8px;
  }

  .messageFormTextarea {
    height: 40px;
  }

  .messageFormButton {
    padding: 4px 8px;
    font-size: 9px;
  }
}
