.messageFormContainer {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: var(--input-border);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.messageFormHeader {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--text-color);
}

.messageFormLabel {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--text-color);
}

.messageFormInput,
.messageFormTextarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: var(--input-border);
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 16px;
}

.messageFormInput:focus,
.messageFormTextarea:focus {
  border: var(--input-border-focus);
  outline: none;
}

.messageFormButton {
  padding: var(--button-padding);
  margin-top: 20px;
  background-color: var(--button-background);
  border-radius: var(--button-border-radius);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: auto;
}

.messageFormButton:hover {
  background-color: var(--accent-color);
}

.messageSuccess {
  color: green;
  font-weight: bold;
  margin-top: 20px;
}

.messageError {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}
