/* @import "reset-css-complete"; */
/* @import "/node_modules/reset-css-complete/reset.css"; */

:root {
  /* Kolorystyka */
  --primary-color: #023853; /* Główny błękit */
  --secondary-color: #d1c0a8; /* Główny beż */
  --tertiary-color: #caab78; /* Złoty */
  --accent-color: #5c7b9e; /* Błękitny akcent */
  --highlight-color: #fdedc7; /* Złoty/beżowy akcent */

  /* Tło */
  --background-color: #fffef8; /* Jasne tło dla większości UI */
  --footer-background-color: var(--secondary-color); /* Beżowe tło stopki */

  /* Typografia */
  --font-primary: "Roboto", Arial, sans-serif; /* Główna czcionka */
  --font-secondary: "Lato", "Open Sans", sans-serif; /* Czcionka akcentowa */
  --text-color: #023853; /* Główny błękit */
  --light-text-color: #fffef8; /* Jasne */
  --highlight-text-color: #564839; /* Brązowe */

  /* Przyciski i formularze */
  --button-background: var(--primary-color);
  --button-background-secondary: #cecec9;
  --button-text-color: #fffef8;
  --button-padding: 15px 30px;
  --button-font-size: 1rem;
  --button-border-radius: 25px;
  --button-font-weight: 700;
  --form-background-color: #ffffff;
  --form-border-color: rgba(0, 0, 0, 0.1);
  --input-border: 2px solid var(--form-border-color);
  --input-border-focus: 3px solid #2684FF;

  /* Ikony i grafika */
  --icon-color: var(--primary-color);

  /* Efekty */
  --link-hover-effect: underline;
  --button-hover-effect: opacity 0.8;

  /* Marginesy i paddingi */
  --default-margin: 20px;
  --default-padding: 20px;

  /* Cienie */
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header {
  padding-bottom: 100px;
}
main {
  display: grid;
  place-content: center;
  width: 100%;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: var(--default-padding);
}
