.nav {
  margin: 0 auto;
  max-width: 1600px;
  background-color: transparent;
  padding: var(--default-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.navCenter {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLeft {
  width: 40%;
  display: flex;
  justify-content: left;
}

.navRight {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.logo1 {
  height: 30px;
}

.logo2 {
  height: 150px;
  width: 150px;
  object-fit: fill;
  border-radius: 50%;
  background-color: #d1c0a8;
  padding: 10px;
  position: absolute;
  box-shadow: 2px 20px 15px rgb(41, 41, 41);
  top: 30px;
  margin: 0 1rem;
}

.navButton1 {
  background: transparent;
  color: var(--primary-color);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: var(--button-hover-effect);
  border-radius: 25px;
  text-transform: uppercase;
  align-items: center;
}

.navButton1 img {
  margin: 0 5px;
  height: 19px;
}

.navButton2 {
  background: #023b56;
  color: var(--button-text-color);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  border: none;
  padding: var(--button-padding);
  cursor: pointer;
  transition: var(--button-hover-effect);
  border-radius: var(--button-border-radius);
  text-transform: uppercase;
}

.navButton1:hover {
  text-decoration-line: underline;
}

.navButton2:hover {
  background: var(--accent-color);
  color: var(--button-text-color);
}

@media (max-width: 1024px) {
  .navLeft {
    width: 40%;
  }
  .navRight {
    width: 60%;
  }
  .navCenter {
    display: none;
  }
}

@media (max-width: 720px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .navLeft,
  .navCenter,
  .navRight {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .navButton1,
  .navButton2 {
    margin: 5px 0;
    padding: 6px 12px;
    width: 100%;
    text-align: center;
  }
}
