.nav {
  background-color: transparent;
  padding: var(--default-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: var(--default-margin);
}

.navCenter {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLeft {
  width: 33%;
  display: flex;
  justify-content: left;
}

.navRight {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}

.logo1 {
  height: 30px;
}

.logo2 {
  height: 150px;
  width: 150px;
  object-fit: fill;
  border-radius: 50%;
  background-color: #d1c0a8;
  padding: 10px;
  position: absolute;
  box-shadow: 2px 20px 15px rgb(41, 41, 41);
  top: 30px;
  margin: 0 1rem;
}

.navButton1 {
  background: transparent;
  color: var(--primary-color);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: var(--button-hover-effect);
  border-radius: 25px;
  text-transform: uppercase;
  align-items: center;
}

.navButton1 img {
  margin: 0 5px;
  height: 19px;
}

.navButton2 {
  background: #023b56;
  color: var(--button-text-color);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  border: none;
  padding: var(--button-padding);
  cursor: pointer;
  transition: var(--button-hover-effect);
  border-radius: var(--button-border-radius);
  text-transform: uppercase;
}

.navButton1:hover {
  text-decoration-line: underline;
}

.navButton2:hover {
  background: var(--accent-color);
  color: var(--button-text-color);
}
