.nav {
  background-color: transparent;
  padding: var(--default-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 10px;
}

.navLeft,
.navCenter,
.navRight {
  display: flex;
  align-items: center;
}
.navCenter {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.logo1 {
  height: 30px;
}

.logo2 {
  height: 100px;
  width: 100px;
  object-fit: fill;
  border-radius: 50%;
  background-color: #d1c0a8;
  padding: 10px;
  box-shadow: 2px 10px 15px rgb(41, 41, 41);
  margin: 0 1rem;
}

.navButton1 {
  background: transparent;
  color: #023b56;
  font-weight: 700;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: var(--button-hover-effect);
  border-radius: 25px;
  text-transform: uppercase;
}

.navButton2 {
  background: #023b56;
  color: white;
  font-weight: 700;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: var(--button-hover-effect);
  border-radius: 25px;
  text-transform: uppercase;
}

.navButton1:hover {
  text-decoration-line: underline;
}

.navButton2:hover {
  background: var(--primary-color);
  color: var(--button-text-color);
}
