.generalInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: var(--text-color);
  margin: 10px 0;
  text-align: left;
}

.adMeta {
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
  text-align: right;
}

.adContent {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.adImageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.adImage {
  max-width: 100%;
  width: 400px;
  height: auto;
  border-radius: 10px;
}

.description {
  padding: 10px;
  background-color: var(--accent-color);
  border-radius: 10px;
  color: white;
  margin: 10px 0;
  font-size: 20px;
}

.userActions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.editButton,
.deleteButton {
  padding: var(--button-padding);
  margin: 0 10px;
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  transition: background-color 0.3s;
}

.editButton:hover,
.deleteButton:hover {
  background-color: var(--accent-color);
}

.editButton {
  background-color: var(--button-background);
  color: white;
}

.deleteButton {
  background-color: var(--button-background);
  color: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  color: var(--text-color);
}

.confirmButton,
.cancelButton {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.confirmButton {
  background-color: #28a745;
  color: white;
}

.cancelButton {
  background-color: #dc3545;
  color: white;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.userName {
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
  padding: 15px;
}

.exchangeButton {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: var(--button-background);
  border-radius: var(--button-border-radius);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  text-align: center;
}

.exchangeButton:hover {
  background-color: var(--accent-color);
}

@media (max-width: 1024px) {
  .adContent {
    flex-direction: column;
  }

  .gallery {
    gap: 5px;
  }
}

@media (max-width: 768px) {
  .adContent {
    padding: 10px;
  }

  .gallery {
    gap: 5px;
  }

  .adImage {
    width: 150px;
  }
}

@media (max-width: 450px) {
  .generalInfo {
    padding: 5px;
    max-width: 100%;
  }

  .title {
    font-size: 20px;
  }

  .adMeta {
    font-size: 10px;
  }
  .adContent {
    padding: 5px;
  }

  .gallery {
    gap: 2px;
  }

  .adImage {
    width: 100px;
  }
}
