.footer {
  background-color: #d1c0a8;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  font-family: var(--font-secondary);
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
  padding: 0 40px;
  box-sizing: border-box;
}

.footerColumn {
  flex: 1;
  max-width: 496px;
  text-align: left;
}

.footer h3 {
  font-family: var(--font-primary);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: white;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer ul li {
  margin-bottom: 0.5rem;
}

.footer ul li a {
  color: #564839;
  text-decoration: none;
  font-weight: 600;
  padding: 0.2rem 0;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.socialMedia {
  display: flex;
  flex-direction: column;
}

.icon {
  margin-right: 8px;
  font-size: 1.2rem;
  vertical-align: middle;
}
