.termsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 50px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  color: var(--text-color);
  font-weight: 800;
  width: 100%;
  font-size: 3rem;
  font-family: var(--font-primary);
  margin: 10px 0;
  text-align: left;
}

.termsContent h2 {
  font-size: 1.5rem;
  margin-top: 20px;
}

.termsContent p {
  font-size: 1rem;
  margin-top: 10px;
  line-height: 1.5;
}

@media (max-width: 720px) {
  .header {
    font-size: 2.5rem;
  }
  .termsContent h2 {
    font-size: 1.3rem;
  }
  .termsContent p {
    font-size: 0.9rem;
  }
}

@media (max-width: 320px) {
  .header {
    font-size: 2rem;
  }
  .termsContent h2 {
    font-size: 1.1rem;
  }
  .termsContent p {
    font-size: 0.8rem;
  }
}
