.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 600px;
}

.header {
  color: var(--text-color);
  font-weight: bold;
  margin: 40px 0 40px 20px;
  width: 100%;
  font-size: 28px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details p {
  font-size: 16px;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.editButton {
  padding: 15px 30px;
  margin-top: 20px;
  background-color: var(--button-background);
  border-radius: var(--button-border-radius);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  text-align: center;
}

.editButton:hover {
  background-color: #0056b3;
}


/* Style responsywne */
@media (max-width: 768px) {
  .header {
    font-size: 24px; 
  }

  .details p {
    font-size: 14px;
  }

  .editButton {
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .profileContainer {
    padding: 10px; 
  }

  .avatar img {
    width: 50px; 
    height: 50px;
  }
}