.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 var(--default-padding); /* Dodaj padding do głównego kontenera */
}

.main-content {
  flex: 1;
  padding: var(--default-padding);
}
