.helpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  color: var(--text-color);
  font-weight: 800;
  width: 100%;
  font-size: 3rem;
  font-family: var(--font-primary);
  margin: 10px 0;
  text-align: left;
}

.section {
  margin-bottom: 40px;
  width: 1600px;
}

.accordion {
  margin-top: 10px;
}

.accordionItem {
  margin-bottom: 10px;
  border: 1px solid var(--form-border-color);
  border-radius: 25px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.accordionHeader {
  color: var(--primary-color);
  padding: 15px 20px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.accordionContent {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.accordionContent.active {
  max-height: 500px;
  opacity: 1;
}

.accordionInnerContent {
  background-color: white;
  color: var(--text-color);
  padding: 15px 20px;
  font-size: 1rem;
  line-height: 1.6;
}

@media (max-width: 720px) {
  .header {
    font-size: 2.5rem;
  }
  .accordionHeader {
    font-size: 1.1rem;
  }
}

@media (max-width: 320px) {
  .header {
    font-size: 2rem;
  }
  .accordionHeader {
    font-size: 1rem;
    padding: 10px 15px;
  }
  .accordionInnerContent {
    font-size: 0.9rem;
    padding: 10px 15px;
  }
}

@media (max-width: 1600px) {
  .header {
    font-size: 2.5rem;
  }
  .section {
    width: 90%;
  }
  .accordionHeader {
    font-size: 1.1rem;
  }
}

@media (max-width: 320px) {
  .header {
    font-size: 2rem;
  }
  .section {
    width: 100%;
  }
  .accordionHeader {
    font-size: 1rem;
    padding: 10px 15px;
  }
  .accordionInnerContent {
    font-size: 0.9rem;
    padding: 10px 15px;
  }
}
